<h1>Edit an existing author</h1>
<% if @author.errors.any? %>
  <% @author.errors.full_messages.each do |error| %>
    <p class="text-danger">
      <%= error %>
    </p>
  <% end %>
<% end %>

<%= form_for @author do |f|%>
  <p>
    <%= f.label :name%>
    <%= f.text_field :name, autofocus: true%>
  </p>
  <p>
    <%= f.submit "Edit", class: "btn btn-info" %>
  </p>
<% end %>

<%= link_to "Delete", author_path, method: "Delete", class: "btn btn-danger", data: {confirm: "Are you sure?"} %>